body{
    background-image: url('outside_roses_cool.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
color:white;
font-family: Montserrat;
}

h2{
    height: 300px;
    width: 600px; 
    position: relative;
    top: 5px;
    left: 150px;
    right: 50px;
    color:white;
    font-family: Montserrat;
}
button{
border-radius:5px;
color:white;
background-color:grey;
position: relative;
top: 1px;
left: 50px;
right: 150px;
bottom:25px;
height:50px;
}
#magenta{
color:aqua;
font-family: Montserrat;
}
#imgMain{
display:block;
margin-left:auto;
position:relative;
right:50px;
}
#Yellow{
    color:yellow;
}